.container {
  width: 100%;
  height: auto;
  padding: 90px 65px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  color: var(--black);
}

.left {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.right {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.right .header {
  font-size: 1.2em;
  color: var(--blue);
  margin: 0 0 20px 0;
  font-weight: 700;
}

@media screen and (max-width: 992px) {
  .container {
    flex-direction: column;
  }

  .left {
    width: 100%;
    margin-bottom: 20px;
  }

  .right {
    width: 100%;
  }

  .right .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
