.content {
  width: 100%;
  height: auto;
  padding: 100px 0 0 40px;
}

.top {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.top > p {
  font-weight: 700;
  width: 12%;
}

.top p span {
  color: var(--blue);
}

.top .languages {
  width: 86%;
  height: 100%;
  margin: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.top .languages .all {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  /* overflow-x: scroll; */
}

.top .languages .all .box {
  padding: 5px 15px;
  display: flex;
  flex-direction: row;
  background: #efefef;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.top .languages .all .box p {
  margin: 0 5px;
}

.reviews {
  width: 100%;
  height: auto;
  display: flex;
  margin: 50px 0;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (max-width: 992px) {
  .content {
    padding: 90px 0 0 10px;
  }
  .top .languages {
    width: 80%;
    margin: 0;
    overflow: scroll;
  }

  .top > p {
    width: 18%;
  }

  .reviews {
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .content {
    padding: 7px 0;
  }

  .top {
    width: 100%;
    height: 100px;
    flex-direction: column;
  }

  .top > p {
    width: 100%;
    text-align: center;
  }

  .top .languages {
    width: 100%;
    overflow: scroll;
  }

  .reviews {
    width: 100%;
    margin: 0;
  }
}
