.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  width: 100%;
  height: 100vh;
  background: linear-gradient(104.8deg, #0041ca 28.89%, #0eb7ed 93.13%);
  padding: 120px 0 0 50px;
}

.hero .header {
  font-size: 3em;
  font-weight: 700;
  color: var(--white);
  line-height: 40px;
  margin: 10px 0;
}

.hero p {
  font-size: 1em;
  color: var(--white);
  margin: 20px 0;
}

.hero button {
  width: 100px;
  height: 30px;
  border: none;
  background: var(--white);
  border-radius: 5px;
  font-weight: 800;
  font-size: 1em;
  color: var(--blue);
}

.hero .images .one {
  position: absolute;
  bottom: 210px;
  right: 80px;
}

.hero .images .two {
  position: absolute;
  bottom: 70px;
  right: 350px;
}

.using {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: var(--black);
}

.using .content {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.using .content .box {
  width: 180px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 50px;
}

.using .content .box .image {
  height: 100px;
}

.using .content .box p {
  text-align: center;
  padding: 20px 0;
}

.using .content .next {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--blue);
  border-radius: 2px;
  color: var(--white);
}

.outcomes {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: var(--black);
}

.outcomes .content {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.outcomes .content .box {
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 50px;
}

.outcomes .content .box .image {
  height: 80px;
}

.outcomes .content .box p {
  text-align: center;
}

.outcomes .content .box .num {
  line-height: 40px;
  font-weight: 700;
}

.people {
  width: 100%;
  height: 300px;
  background: linear-gradient(266.75deg, #0041ca 16.8%, #0eb7ed 98.61%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.people .navigate {
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.about {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 150px;
}

.about p {
  text-align: center;
  margin: 10px 0;
}

.about .developers {
  width: 100%;
  height: auto;
  margin: 30px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 992px) {
  .hero {
    height: 750px;
    position: relative;
  }

  .languages {
    display: none;
  }

  .about {
    height: auto;
    padding: 0 30px;
  }
}

@media screen and (max-width: 600px) {
  .hero {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero p {
    text-align: center;
  }

  .hero .images {
    display: none;
  }

  .using {
    height: auto;
  }

  .using .content {
    height: auto;
    flex-direction: column;
  }

  .using .content .box {
    margin: 20px 0;
  }

  .outcomes {
    height: auto;
  }

  .outcomes .content {
    height: auto;
    flex-direction: column;
  }

  .outcomes .content .box {
    margin: 20px 0;
  }
}
